# ðŸ Python Variables & Data Types: Interactive Exercises
These exercises will help you practice different data types in Python. Run each cell and modify them as needed.

### 1. Numeric Types
Write a program that takes two numbers as input and prints their sum, product, and average.

In [ ]:
# Ask for the first number and store it into the variable called num1 which should expect a float
# Ask for the second number and store it into the variable called num2 which should expect a float

# Sum up the 2 variables and store it into sum_result
# Multiply the 2 variables and store it into product
# Average the 2 variables and store it into average

# Display the results in the console

### 2. String Manipulation
Ask the user to enter their full name and print the name in uppercase and the number of characters (excluding spaces).

In [ ]:
# Ask the user to enter full name and store it in a variable named full_name
# Transform the to uppercase and store it in a variable named name_upper (hint: check for function upper())
# Count the characters excluding spaces and store it in a variable named char_count (hint: check for fucntion len())

# Output the name in uppercase and the number of characters to the console

### 3. List Practice
Create a list of 5 numbers, add a new number, remove the second item, and print the modified list.

In [ ]:
numbers = [5, 10, 15, 20, 25]
print("Original list:", numbers)

numbers.append(30)  # Add number
numbers.pop(1)      # Remove second item (index 1)

print("Modified list:", numbers)

### 4. Tuple Practice
Create a tuple with 3 fruits and try to change the second one. What happens?

In [ ]:
fruits = ("apple", "banana", "cherry")
# fruits[1] = "orange"  # âŒ This will raise an error
print("Tuples are immutable; you cannot change elements.")

### 5. Dictionary Practice
Create a dictionary and update it by adding a new key and modifying a value.

In [ ]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print("Original:", person)

person["email"] = "alice@example.com"
person["age"] = 31

print("Updated:", person)

### 6. Set Practice
Create two sets and find their intersection, union, and difference.

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print("Intersection:", a & b)
print("Union:", a | b)
print("Difference (a - b):", a - b)

### 7. Boolean Logic
Ask the user for their age and print whether they're old enough to vote.

In [ ]:
age = int(input("Enter your age: "))
can_vote = age >= 18
print("Old enough to vote:", can_vote)

### 8. Type Conversion
Convert values to different types and print the results.

In [ ]:
val1 = int("25")      # 25
val2 = int(12.9)      # 12
val3 = float(5)       # 5.0
val4 = str(100)       # "100"

print(val1, type(val1))
print(val2, type(val2))
print(val3, type(val3))
print(val4, type(val4))

### 9. Range and Loop
Print all even numbers from 0 to 20 using a loop.

In [ ]:
for num in range(0, 21, 2):
    print(num)

### 10. None Type
Check if a variable has no value using `None`.

In [ ]:
value = None

if value is None:
    print("No value found")
else:
    print("Value exists")